body {
  margin: 0;
}

h1,
h2,
h3,
footer,
.more-link {
  font-family: "Poppins";
  text-align: center;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

h4 {
  font-family: "Poppins";
  font-size: "20px";
  font-weight: 700;
  line-height: 30px;
}

footer {
  padding: 100px;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
  text-align: left;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.hero-container {
  margin-top: 30px;
  padding: 40px 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/malaga.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.more-link {
  background-color: white;
  width: 100px;
  padding: 16px 32px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  display: block;
  margin: 0 auto;
}

.content-container-1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.img-responsive {
  max-width: 100%;
}
.content-container-1 h5,
.content-container-2 h5 {
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272744;
  opacity: 0.3;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.content-container-1 h3,
.content-container-2 h3 {
  font-weight: 700;
  color: #272744;
  font-size: 40px;
  text-align: center;
  margin: 0 0 30px 0;
}

.content-container-1 p,
.content-container-2 p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
}

.content-container-2 {
  background-color: #f8f8f8;
  padding: 100px;
}

.grid-3-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card {
  background-color: white;
  padding: 30px;
}

.card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #272744;
  margin: 30px 0 10px 0;
  padding: 0;
}

.card h6 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: #272744;
  margin: 30px 0 10px 0;
  padding: 0;
}

.card p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.btn {
  color: white;
  background-color: #272744;
  padding: 16px;
  text-decoration: none;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Poppins";
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn:hover {
  background-color: white;
  border: 2px solid #272744;
  color: #272744;
}

@media (max-width: 960px) {
  h1 {
    line-height: 1;
    font-size: 54px;
  }
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
  footer {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 30px;
    text-align: center;
  }
  .hero-container {
    margin-top: 0;
  }
  .more-link {
    font-size: 14px;
    padding: 10px;
  }
  .mobile-hide {
    display: none;
  }
  .content-container-1 {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .content-container-1 p {
    font-size: 12px;
  }
  .content-container-1 img {
    width: 100%;
    max-width: 400px;
  }
  .grid-3-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1200px) {
  .content-container-1 p {
    font-size: 14px;
  }
  .content-container-1 h3 {
    font-size: 30px;
  }
}
